
.container {
  background-image: url('../resources/Banner\ Image.png');
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%)url('../resources/Banner\ Image.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1380px;
  height: 600px;
   width: 82.5%;
  margin: 50px auto 0;
  color: white;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.highlighter {
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 0;
  text-decoration: solid;
}

.title {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 150px;
  text-decoration: solid;
}

.overlay {
  /* position: fixed; Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.body{
  justify-items: center;
  text-align: center;
  font-family: Inter;
  margin-top: 120px;
}
.image-body{
  display: flex;
justify-content: center;
height: 400px;
}

.body-title{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}

.body-title1{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.body-title2{
  color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

.main-container{
  background-image: url('../resources/Vectorrr.png');
  /* background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Vectorrr.png') */
  background-position: center;
  background-size: cover;
  background-color: none;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  margin-left: 300px;
  align-items: center;
}

.sub-container{
  color: #FFF;
font-family: Merriweather;
font-size: 20px;
line-height: 40px;
/* background-color: rgba(0,0,0,0.6); */
}

.sub-container1{
  margin-left: 120px;
  width: 1000px;
  color: #FFF;
  font-size: 64px;;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7px;
}

.sub-container2{
  margin-left: 120px;
  width: 700px;
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
}
.button-1{
  color: #FFF;
  text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
margin-left: 140px;
background-color: transparent;
border: none;
}

/* .image-1{
/* background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
background-color: none;
display: flex;
width: 300px;
height: 450px;
/* padding: 0.008px 0px 0px 0px; */
flex-direction: column;
justify-content: right;
align-items: center;
border: none;
} */

.image-1{
  display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.section{
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  width: 1320px;
height: 482px;
margin-left: 300px;
margin-top: 100px;
}

.button-2{
  color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
display: flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
margin-left: 560px;
margin-top: 50px;
}

.highlight{
  color: #F00;
}

.main-section{
  text-align: center;
font-size: 32px;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
padding-top: 100px;
}
