
.container {
  background-image: url('../resources/Banner\ Image.png');
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%)url('../resources/Banner\ Image.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1380px;
  height: 600px;
   width: 82.5%;
  margin: 50px auto 0;
  color: white;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.highlighter {
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 0;
  text-decoration: solid;
}

.title {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 150px;
  text-decoration: solid;
}

.overlay {
  /* position: fixed; Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.body{
  justify-items: center;
  text-align: center;
  font-family: Inter;
  margin-top: 120px;
}
.image-body{
  display: flex;
justify-content: center;
/* height: 400px; */
height: 500px;
}

.body-title{
  color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
padding-top: 20px;
}

.body-title1{
  color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
}

.body-title2{
  color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
}

.main-container{
  background-image: url('../resources/Vectorrr.png');
  /* background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Vectorrr.png') */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: none;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin-top: 100px;
  margin-left: 300px;
}

.sub-container{
  color: #FFF;
font-family: Merriweather;
font-size: 20px;
line-height: 40px;
/* background-color: rgba(0,0,0,0.6); */
}

.sub-container1{
  margin-left: 120px;
  width: 1000px;
  color: #FFF;
  font-size: 64px;;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7px;
}

.sub-container2{
  margin-left: 120px;
  width: 700px;
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
}
.button-1{
  color: #FFF;
  text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
margin-left: 140px;
background-color: transparent;
border: none;
}

.image-1{
  display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.section{
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  width: 1320px;
height: 482px;
margin-left: 300px;
margin-top: 100px;
}

.button-2{
  color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
display: flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
margin-left: 560px;
margin-top: 50px;
}

.highlight{
  color: #F00;
}

.main-section{
  text-align: center;
font-size: 32px;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
padding-top: 100px;
}

.main-content{
  margin-top: 100px;
  display: flex;
  margin-left: 300px;
}

.text{
 max-width: 350px;
}

.image-2{
   /* justify-items: center; */
   /* justify-content: space-between; */
   margin-left: 150px;
   border-radius: 450px;
   border: 10px solid #F00;
   /* border-radius: 364.844px;
   background: url('../resources/Ellipse\ 1.png'), lightgray -91.279px 0px / 150.038% 100% no-repeat; */
}

.text-1{
 margin-left: 200px;
}

.title-3{
  color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}

.title-4{
  color: #F00;
text-align: left;
font-size: 25px;
font-weight: 1000;
line-height: normal;
}

.title-5{
  color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.title-6{
  color: #F00;
font-size: 48px;
font-weight: 700;
}

.title-7{
  color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
width: 300px;
}

.discount-section{
  margin-top: 100px;
  display: block;
  text-align: center;
  margin-left: 170px;
}

.section-1{
    color: #070211;
font-size: 25px;
font-weight: 800;
}

.section-2{
  color: #070211;
font-size: 72px;
font-weight: 900;
}

.section-3{
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-size: 25px;
font-weight: 500;
line-height: 32px;
width: 1000px;
margin-left: 300px;
}


.style-section{
  margin-top: 100px;
  margin-left: 300px;
  max-width: 1320px;
  justify-content: space-between;
}
/* .style-section1{
  margin-top: 100px;
  max-width: 1600px;
  padding-left: 300px;
  margin-right: 200px;
} */

.Portfolio-1{
  color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}

.Portfolio-2{;
font-family: Inter;
font-size: 24px;
font-weight: 700;
}

.Portfolio-3{
  color: rgba(7, 2, 17, 0.60);
font-size: 24px;
font-weight: 400;
line-height: 32px;
  width: 800px;
}

.subscribe{
  margin-top: 100px;
  margin-left: 300px;
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.image-letter{
   width: 150px;
  height: 150px;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 100px;
}

.subscribe-title{
  color: #070211;
text-align: center;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}

.subscribe-paragraph{
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  width: 800px;
  margin-left: 300px;
}